# ─── InfluxDB ─────────────────────────────────────────────────────────────────
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=change_me
INFLUXDB_ORG=mi_fabrica
INFLUXDB_BUCKET=telemetria
INFLUXDB_TOKEN=change_me_with_a_long_random_token

# ─── Grafana ──────────────────────────────────────────────────────────────────
GRAFANA_USER=admin
GRAFANA_PASSWORD=change_me
GRAFANA_PORT=3003

# ─── OPC UA ───────────────────────────────────────────────────────────────────
OPC_UA_PORT=4840
OPC_UA_HOST=opc-ua-sim
OPC_UA_PATH=/edge
OPC_UA_NAMESPACE_URI=http://proyecto/Joaquin121

# ─── MQTT ─────────────────────────────────────────────────────────────────────
#MQTT_HOST=localhost
MQTT_HOST=mosquitto
MQTT_PORT=1883

# ─── Gateway (Python) ─────────────────────────────────────────────────────────
HTTP_PORT=8080
AC_UDP_PORT=9000
DB_PATH=buffer.db
SENSORS_CONFIG=config/sensors.yaml
AC_SIGNALS_CONFIG=config/ac_signals.yaml
ANALYSIS_CONFIG=config/analysis.yaml
LOG_LEVEL=DEBUG
LOG_FORMAT=%(asctime)s [%(levelname)s] %(message)s
